* {
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

body {
  max-width: 1040px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #6b9b5e;
  padding: 10px 40px;
}

img {
  max-width: 100%;
}

.title-img {
  max-width: 300px;
  width: 50%;
}

.social-links {
  padding: 0 50px;
  text-align: center;
}

.link-inline {
  font-family: arial;
  color: #496a40;
  display: block;
  text-align: center;
  padding: 10px;
}

.social-links .fa {
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  color: white;
  padding: 10px;
  width: 50px;
  text-align: center;
}

.social-links .fa-linkedin {
  background: #0a66c2;
}

.social-links .fa-envelope {
  background: #6b9b5e;
}

@media screen and (max-width: 480px) {
  .social-links .fa {
    padding: 5px;
    width: 35px;
    font-size: 25px
  }
}

h1 {
  color: #6b9b5e;
}

section {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  border-bottom: 2px solid #6b9b5e;
  padding: 20px;
}

.exp-pix {
  text-align: center;
  flex-basis: 60%;
}

.pix {
  background-position: center;
  background-size: cover;
  width: calc(50% - 12px);
  padding-bottom: 27%;
  display: inline-block;
  margin: 5px;
}

.par {
  flex-basis: 40%;
}

.par:last-child {
  flex-basis: 60%;
}

.session-soft {
  display: block;
}

.soft {
  text-align: center;
  margin-top: -10px;
}

.soft-pic {
  width: 70px;
  background-position: 50% 0;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 70px;
  margin: 10px;
  vertical-align: top;
}

@media screen and (max-width: 680px) {
  .par {
    flex-basis: 100%;
  }

  .par:last-child {
    flex-basis: 100%;
  }

  .exp-pix {
    flex-basis: 50%;
  }

  .pix {
    width: 100%;
    padding-bottom: 54%;
  }

  header {
    padding: 10px;
    max-width: 500px;
    margin: auto;
  }

  section {
    max-width: 500px;
    margin: auto;
    align-items: center;
  }

  .social-links {
    padding: 10px 0 0;
  }

  .edu {
    flex-wrap: wrap;
  }

  .soft {
    max-width: 370px;
    margin: auto;
  }
}
